MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_PORT= 
FLASK_PORT=

# El mail tiene que tener verificación en dos pasos y su contraseña se tiene que generar de ahí
EMAIL=
EMAIL_PASSWORD=

# Entorno de la aplicacion: dev o prod
ENV=

JWT_SECRET_KEY=
