<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>Administracion reservas</title>
</head>
<body>
      <nav class="navbar">
    <div class="nav-izq">
        <span>NOMBRE DEL SITIO</span>
    </div>

    <div class="nav-centro">
        <a href="#">inicio</a>
        <a href="#">servicios</a>
        <a href="#">campos de juego</a>
        <a href="#">alquiler de equipamiento</a>
        <a href="#">contacto</a>
    </div>

    <div class="nav-der">
        <a href="#">inicia sesion</a>
        <a href="#">registrate</a>
    </div></nav>
<hr class="linea-separadora">

    <h1>ADMINISTRADOR DE RESERVAS</h1>
    <table>
  <thead>
    <tr>
      <th>ID Reserva</th>
      <th>Fecha</th>
      <th>Tipo</th>
      <th>Modalidad</th>
      <th>Campo</th>
      <th>Monto</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>#001</td>
      <td>25/05/2026</td>
      <td><span class="badge publica">Pública</span></td>
      <td>Captura bandera</td>
      <td>Mirage</td>
      <td class="text-orange">$12.000</td>
    </tr>
    
    <tr>
      <td>#002</td>
      <td>28/05/2026</td>
      <td><span class="badge privada">Privada</span></td>
      <td>Captura bandera</td>
      <td>Mirage</td>
      <td class="text-orange">$15.000</td>
    </tr>
        <tr>
      <td>#002</td>
      <td>20/05/2026</td>
      <td><span class="badge privada">Privada</span></td>
      <td>Captura bandera</td>
      <td>Nuketown</td>
      <td class="text-orange">$15.000</td>
    </tr>
        <tr>
      <td>#002</td>
      <td>22/05/2026</td>
      <td><span class="badge privada">Privada</span></td>
      <td>Dominación</td>
      <td>Nuketown</td>
      <td class="text-orange">$15.000</td>
    </tr>
        <tr>
      <td>#002</td>
      <td>28/05/2026</td>
      <td><span class="badge privada">Privada</span></td>
      <td>Todos contra todos</td>
      <td>Nuketown</td>
      <td class="text-orange">$15.000</td>
    </tr>
  </tbody>
</table>
</body>
</html>