{% extends 'defaultadmin.html' %}

{% block title %}Kenetix - Página del perfil del Admin{% endblock %}

{% block style_extra %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/login.css')}}">
{% endblock %}


{% block content %}
<Section id="sectionPerfilAdmin">
    <div class="container-perfilAdmin">
        
        <div class="box-perfilAdmin">
            <span id="mensajePrincipal"> BIENVENIDO AL PANEL ADMINISTRADOR</span>
            <div class="box-panel">
                <span id="datosUser">NOMBRE: {{usuario.name}}</span>
                <span id="datosUser">DNI: {{usuario.dni}}</span>
                <span id="datosUser">Gmail: {{usuario.email}}</span>
                <span id="datosUser">Genero: {{usuario.gender}}</span>
                <span id="datosUser">Telefono: +54 {{usuario.phone}}</span>
            </div>
        </div>
        <div class="box-perfilAdmin">
            <div class="position-end">
                <div class="box-panel-right">                
                    <div class="box-center">
                        <button class="btn-error"><a class="btna" href="{{ url_for('adminreseñas')}}"><i class="fa fa-list"></i></a></button>
                        <p>RESEÑAS</p>
                    </div>
                    <div class="box-center">
                        <button class="btn-error"><a class="btna" href="{{ url_for('dashboard')}}"><i class="fa fa-bar-chart"></i></a></button>
                        <p>DASHBOARD</p>
                    </div>
                    <div class="box-center">
                        <button class="btn-error"><a class="btna" href="{{ url_for('admin_servicios')}}"><i class="fa fa-book"></i></a></button>
                        <p>SERVICIOS</p>
                    </div>
                    <div class="box-center">
                        <button class="btn-error"><a class="btna" href="{{ url_for('reservasadmin')}}"><i class="fa fa-wrench"></i></a></button>
                        <p>NUEVA RESERVA</p>
                    </div>
                    <div class="box-center">
                        <button class="btn-error"><a class="btna" href="{{ url_for('equipamiento')}}"><i class="fa fa-binoculars"></i></a></button>
                        <p>EQUIPAMIENTOS</p>
                    </div>
                    <div class="box-center">
                        <button class="btn-error"><a class="btna" href="{{ url_for('logout')}}"><i class="fa fa-sign-out"></i></a></button>
                        SALIR
                    </div>
                </div>
            </div>
        </div>
    </div>
</Section>
{% endblock %}

