{% extends 'defaultadmin.html' %}

{% block style_extra %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/login.css')}}">
{% endblock %}
{% block content %}
<section id="sectionServiciosAdmin">
    <div id="titleContent">
        <h1>PANEL ADMINISTRADOR DE SERVICIOS</h1>
    </div>
    <div class="box-panel">
        <div class="box-agregarservicio">
            <h5>Agregar Nuevo Servicio</h5>
            <form action="/adminservicios" method="POST" class="row g-3">
                <div class="col-md-4">
                    <input type="text" class="form-control" name="nombre" placeholder="Nombre del servicio" required>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" name="descripcion" placeholder="Descripción breve" required>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success w-100">Agregar</button>
                </div>
            </form>
        </div>
    
        <table class="tabla-adminServicios">
            <thead class="titulo-tablaAdminServicio">
                <tr>
                    <th>ID</th>
                    <th>Servicio</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for servicio in servicios %}
                <tr>
                    <td>{{ servicio.id }}</td>
                    <td><strong>{{ servicio.nombre }}</strong></td>
                    <td>{{ servicio.descripcion }}</td>
                    <td>
                        <button class="btn btn-sm btn-warning">Editar</button>
                        <button class="btn btn-sm btn-danger">Eliminar</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}