{% extends 'base.html' %}

{% block title %}Kenetix - Página del perfil del Admin{% endblock %}

{% block style_extra %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/login.css')}}">
{% endblock %}


{% block content %}
<Section id="sectionPerfilAdmin">
    <div class="container-perfilAdmin">
        
        <div class="box-perfilAdmin">
            <span id="mensajePrincipal"> BIENVENIDO AL PANEL ADMINISTRADOR</span>
            <div class="box-panel">
                <span id="datosUser">NOMBRE: Milhouse</span>
                <span id="datosUser">DNI: 96134587</span>
                <span id="datosUser">Gmail: Milhouse@gmail.com</span>
                <span id="datosUser">Genero: Masculino</span>
                <span id="datosUser">Telefono: +54 12435784</span>
            </div>
        </div>
        <div class="box-perfilAdmin">
            <div class="position-end">
                <div class="box-panel-right">                
                    <div class="box-center">
                        <button class="btn-error"><a class="btna" href="{{ url_for('admin_reservas')}}"><i class="fa fa-users"></i></a></button>
                        RESERVAS
                    </div>
                    <div class="box-center">
                        <button class="btn-error"><a class="btna" href="{{ url_for('admin_resenas')}}"><i class="fa fa-list"></i></a></button>
                        RESEÑAS
                    </div>
                    <div class="box-center">
                        <button class="btn-error"><a class="btna" href="{{ url_for('dashboard')}}"><i class="fa fa-bar-chart"></i></a></button>
                        DASHBOARD
                    </div>
                    <div class="box-center">
                        <button class="btn-error"><a class="btna" href="{{ url_for('admin_servicios')}}"><i class="fa fa-book"></i></a></button>
                        SERVICIOS
                    </div>
                    <div class="box-center">
                        <button class="btn-error"><a class="btna" href="{{ url_for('reservaslogged')}}"><i class="fa fa-wrench"></i></a></button>
                        NUEVA RESERVA
                    </div>
                    <div class="box-center">
                        <button class="btn-error"><a class="btna" href="{{ url_for('equipamiento')}}"><i class="fa fa-binoculars"></i></a></button>
                        EQUIPAMIENTOS
                    </div>
                    <div class="box-center">
                        <button class="btn-error"><a class="btna" href="{{ url_for('index')}}"><i class="fa fa-sign-out"></i></a></button>
                        SALIR
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</Section>
{% endblock %}

