<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>Administracion reseñas</title>
</head>
<body>
    <nav class="navbar">
    <div class="nav-izq">
        <span>NOMBRE DEL SITIO</span>
    </div>

    <div class="nav-centro">
        <a href="{{ url_for('index')}}">inicio</a>
        <a href="{{ url_for('servicios')}}">servicios</a>
        <a href="{{ url_for('campos')}}">campos de juego</a>
        <a href="{{ url_for('equipamiento')}}">alquiler de equipamiento</a>
        <a href="{{ url_for('contacto')}}">contacto</a>
    </div>

    <div class="nav-der">
        <a href="{{ url_for('login')}}">inicia sesion</a>
        <a href="{{ url_for('register')}}">registrate</a>
    </div></nav>
<hr class="linea-separadora">

    <h1>ADMINISTRADOR DE RESEÑAS</h1>
    
    <table>
        <tr>
            <th>ID RESEÑA</th>
            <th>Mapa</th>
            <th>Puntación</th>
            <th>Nombre y Apellido</th>
            <th>Comentarios</th>
        </tr>

        <tr>
            <td><input type="text" placeholder="Ej: #001"></td>
            <td><input type="text" placeholder="Nombre mapa..."></td>
            <td><input type="text"placeholder="1 al 5"></td>
            <td><input type="text" placeholder="Juan Pérez"></td>
            <td><input type="text" placeholder="Escribir opinión..."></td>
        </tr>
        <tr>
            <td><input type="text" placeholder="Ej: #002"></td>
            <td><input type="text" placeholder="Nombre mapa..."></td>
            <td><input type="text" placeholder="1 al 5"></td>
            <td><input type="text" placeholder="Juancho Pérez"></td>
            <td><input type="text" placeholder="Escribir opinión..."></td>
        </tr>
        <tr>
            <td><input type="text" placeholder="Ej: #003"></td>
            <td><input type="text" placeholder="Nombre mapa..."></td>
            <td><input type="text" placeholder="1 al 5"></td>
            <td><input type="text" placeholder="Juancito Pérez"></td>
            <td><input type="text" placeholder="Escribir opinión..."></td>
        </tr>
                <tr>
            <td><input type="text" placeholder="Ej: #001"></td>
            <td><input type="text" placeholder="Nombre mapa..."></td>
            <td><input type="text"placeholder="1 al 5"></td>
            <td><input type="text" placeholder="Juanchotito Pérez"></td>
            <td><input type="text" placeholder="Escribir opinión..."></td>
        </tr>
                <tr>
            <td><input type="text" placeholder="Ej: #001"></td>
            <td><input type="text" placeholder="Nombre mapa..."></td>
            <td><input type="text"placeholder="1 al 5"></td>
            <td><input type="text" placeholder="Juansote Pérez"></td>
            <td><input type="text" placeholder="Escribir opinión..."></td>
        </tr>
                <tr>
            <td><input type="text" placeholder="Ej: #001"></td>
            <td><input type="text" placeholder="Nombre mapa..."></td>
            <td><input type="text"placeholder="1 al 5"></td>
            <td><input type="text" placeholder="Juampi Pérez"></td>
            <td><input type="text" placeholder="Escribir opinión..."></td>
        </tr>
                <tr>
            <td><input type="text" placeholder="Ej: #001"></td>
            <td><input type="text" placeholder="Nombre mapa..."></td>
            <td><input type="text"placeholder="1 al 5"></td>
            <td><input type="text" placeholder="Juampicito Pérez"></td>
            <td><input type="text" placeholder="Escribir opinión..."></td>
        </tr>
                <tr>
            <td><input type="text" placeholder="Ej: #001"></td>
            <td><input type="text" placeholder="Nombre mapa..."></td>
            <td><input type="text"placeholder="1 al 5"></td>
            <td><input type="text" placeholder="Oso Pérez"></td>
            <td><input type="text" placeholder="Escribir opinión..."></td>
        </tr>
                </tr>
                <tr>
            <td><input type="text" placeholder="Ej: #001"></td>
            <td><input type="text" placeholder="Nombre mapa..."></td>
            <td><input type="text"placeholder="1 al 5"></td>
            <td><input type="text" placeholder="Juansotito Pérez"></td>
            <td><input type="text" placeholder="Escribir opinión..."></td>
        </tr>
                </tr>
                <tr>
            <td><input type="text" placeholder="Ej: #001"></td>
            <td><input type="text" placeholder="Nombre mapa..."></td>
            <td><input type="text"placeholder="1 al 5"></td>
            <td><input type="text" placeholder="Paco Pérez"></td>
            <td><input type="text" placeholder="Escribir opinión..."></td>
        </tr>
    </table>
</body>