{% extends "base.html" %}

{% block title %}Airsoft - Campos de Juego{% endblock %}

{% block style_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/campos.css') }}">
{% endblock %}

{% block content %}
    <div class="maps">

    <div class="maps__title">
        <h2>Nuestros Mapas</h2>
    </div>
    <div class="maps__container">
        <a href="{{ url_for('info_mapa') }}" style="text-decoration: none; color: inherit; display: block;">
    <div class="maps__card">
        <img src="../static/img/nuketown.jpg" alt="Nuketown">
        <div class="maps__info">
            <h3>Nuketown</h3>
            <p class="maps__description">Inspirado en el mítico mapa de simulación nuclear, Nuketown es nuestro escenario urbano más frenético. Diseñado exclusivamente para combates cerrados (CQB) a corta distancia, te obliga a moverte con velocidad, limpiar habitaciones de forma coordinada y dominar el fuego cruzado.</p>
        </div>
    </div>
</a>
    <a href="{{ url_for('ver_reseñas') }}" style="text-decoration: none; color: inherit; display: block;">
                <div class="maps__card">
            <img src="../static/img/mirage.jpg" alt="Mirage">
            <div class="maps__info">
                <h3>Mirage</h3>
                <p class="maps__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, cupiditate.</p>
            </div>
        </div>
    </a>

            <a href="{{ url_for('ver_reseñas') }}" style="text-decoration: none; color: inherit; display: block;">
                        <div class="maps__card">
            <img src="../static/img/hijacked.jpg" alt="Hijacked">
            <div class="maps__info">
                <h3>Hijacked</h3>
                <p class="maps__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, quas!</p>
            </div>
        </div>
            </a>
            <a href="{{ url_for('ver_reseñas') }}" style="text-decoration: none; color: inherit; display: block;">
                        <div class="maps__card">
            <img src="../static/img/terminal.jpg" alt="Terminal">
            <div class="maps__info">
                <h3>Terminal</h3>
                <p class="maps__description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita, officia?</p>
            </div>
        </div>
            </a>

    </div>
</div>
{% endblock %}
