{% extends 'base.html' %}

{% block title %}Kinetix - Armadura y Vestimenta Táctica{% endblock %}

{% block style_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/equipamiento.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/chaleco.css') }}">
{% endblock %}

{% block content %}
<section class="equipamiento-section">
    <div class="vestimenta-container">
        
        <div class="text-center mb-5">
            <h1 class="equipamiento-title">INDUMENTARIA DE COMBATE</h1>
            <p class="equipamiento-description mx-auto">
                Sistemas de blindaje corporal y vestimenta ergonómica optimizada para operaciones de alta intensidad. Selecciona tu configuración de protección.
            </p>
        </div>

        <div class="equipamiento-card">
            
            <div class="vestimenta-media-box">
                <img src="{{ url_for('static', filename='img/remera.png') }}" alt="Chaleco Táctico Pro">
            </div>
            
            <div class="vestimenta-info">
                <span class="vestimenta-tag">Ergonomía & Movilidad</span>
                <h2 class="vestimenta-name">REMERA TÁCTICA MANGA LARGA BAJO CHALECO – ALPHA FORCE</h2>
                
                <p class="vestimenta-text">
                    La Remera Táctica Bajo Chaleco Alpha Force está diseñada para brindar comodidad, resistencia y libertad de movimiento en actividades tácticas y al aire libre. Su diseño de manga larga, cuello alto y corte ergonómico ofrece una apariencia profesional y un ajuste cómodo durante jornadas prolongadas de uso. Su construcción permite utilizarla cómodamente debajo de chalecos tácticos o como prenda principal, proporcionando una excelente movilidad sin sacrificar resistencia.
                </p>

                <div class="specs-grid">
                    <div class="spec-item">
                        <span class="spec-label">Material Exterior</span>
                        <span class="spec-value">Fabricada con una combinación de algodón y tejido Ripstop de alta resistencia. Esta construcción proporciona comodidad, transpirabilidad y una excelente durabilidad frente al uso intensivo y las exigencias de actividades tácticas y outdoor.</span>
                    </div>
                    <div class="spec-item">
                        <span class="spec-label">Diseño funcional</span>
                        <span class="spec-value">Su diseño está pensado para utilizarse cómodamente bajo chalecos tácticos, ofreciendo confort durante largos períodos de uso sin perder una apariencia profesional.</span>
                    </div>
                    <div class="spec-item">
                        <span class="spec-label">Ajuste de Talla</span>
                        <span class="spec-value">Disponible en talles S, M, L, XL, XXL y XXXL. Su diseño se adapta a diferentes contexturas físicas, brindando un ajuste cómodo y seguro para acompañar cada movimiento durante la actividad.</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="equipamiento-card">
            
            <div class="vestimenta-media-box">
                <img src="{{ url_for('static', filename='img/chaleco.png') }}" alt="Indumentaria Apex">
            </div>
            
            <div class="vestimenta-info">
                <span class="vestimenta-tag">Protección Superior</span>
                <h2 class="vestimenta-name">CHALECO TÁCTICO PROTECTOR</h2>
                
                <p class="vestimenta-text">
                   Chaleco táctico multifunción diseñado para actividades recreativas y outdoor como airsoft, paintball, entrenamiento táctico y aventuras al aire libre. Su diseño moderno y ergonómico brinda una excelente combinación entre comodidad, resistencia y estilo profesional. Incluye 3 portacargadores frontales con cierre de seguridad, ideales para transportar accesorios esenciales de manera práctica y segura. Además, incorpora una zona frontal con velcro compatible con parches tácticos y accesorios modulares para personalizar el equipo según las necesidades del usuario.
                </p>

                <div class="specs-grid">
                    <div class="spec-item">
                        <span class="spec-label">Material exterior</span>
                        <span class="spec-value">Fabricado en nailon 600D de alta calidad, un material reconocido por su gran resistencia al desgaste, impactos y uso intensivo.</span>
                    </div>
                    <div class="spec-item">
                        <span class="spec-label">Sistema de anclaje</span>
                        <span class="spec-value">Cuenta con sistema modular frontal con velcro y portacargadores integrados con cierre de seguridad, permitiendo transportar accesorios tácticos de manera organizada, cómoda y segura.</span>
                    </div>
                    <div class="spec-item">
                        <span class="spec-label">Talla y ajuste</span>
                        <span class="spec-value">Diseño totalmente ajustable en hombros y cintura para adaptarse cómodamente a distintas contexturas físicas. Su estructura ergonómica proporciona un ajuste firme, cómodo y estable durante el movimiento.</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
            <div class="equipamiento-card">
            
            <div class="vestimenta-media-box">
                <img src="{{ url_for('static', filename='img/ingle.png') }}" alt="Indumentaria Apex">
            </div>
            
            <div class="vestimenta-info">
                <span class="vestimenta-tag">Protección Inferior</span>
                <h2 class="vestimenta-name">PROTECTOR INGUINAL TÁCTICO</h2>
                
                <p class="vestimenta-text">
                  El Protector Inguinal Táctico MOLLE está diseñado para complementar chalecos tácticos con una solución práctica, cómoda y de aspecto profesional. Su diseño permite incorporar placas de protección flexibles y rígidas compatibles, brindando una configuración más completa para equipamiento táctico y recreativo.
                </p>

                <div class="specs-grid">
                    <div class="spec-item">
                        <span class="spec-label">Material exterior</span>
                        <span class="spec-value">Confeccionado en tela Cordura importada 600D de alta resistencia, combinada con correas reforzadas de polipropileno para ofrecer durabilidad y un excelente rendimiento durante el uso intensivo.</span>
                    </div>
                    <div class="spec-item">
                        <span class="spec-label">Sistema de anclaje</span>
                        <span class="spec-value">Cuenta con sistema modular frontal con velcro y portacargadores integrados con cierre de seguridad, permitiendo transportar accesorios tácticos de manera organizada, cómoda y segura.</span>
                    </div>
                    <div class="spec-item">
                        <span class="spec-label">Talla y ajuste</span>
                        <span class="spec-value">Sus correas regulables permiten ajustar la posición para obtener una sujeción cómoda, firme y segura según las preferencias de cada usuario.</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
            <div class="equipamiento-card">
            
            <div class="vestimenta-media-box">
                <img src="{{ url_for('static', filename='img/pantalon.png') }}" alt="Indumentaria Apex">
            </div>
            
            <div class="vestimenta-info">
                <span class="vestimenta-tag">Protección Inferior</span>
                <h2 class="vestimenta-name">PANTALÓN TÁCTICO OUTDOOR</h2>
                
                <p class="vestimenta-text">
                   El Pantalón Outdoor Premium está diseñado para quienes buscan comodidad, resistencia y funcionalidad en cada actividad. Su diseño moderno y ergonómico permite una excelente libertad de movimiento, convirtiéndolo en una opción ideal para actividades tácticas, airsoft, entrenamiento y aventuras al aire libre.
                </p>

                <div class="specs-grid">
                    <div class="spec-item">
                        <span class="spec-label">Material exterior</span>
                        <span class="spec-value">Confeccionado en nylon de alta calidad, un material reconocido por su excelente resistencia al desgaste, gran durabilidad y propiedades impermeables. Además, incorpora cierres YKK de alto rendimiento, diseñados para soportar un uso intensivo en distintas condiciones.</span>
                    </div>
                    <div class="spec-item">
                        <span class="spec-label">Sistema de anclaje</span>
                        <span class="spec-value">Cuenta con regulaciones en cintura y botamanga que permiten personalizar el ajuste según las preferencias del usuario.</span>
                    </div>
                    <div class="spec-item">
                        <span class="spec-label">Talla y ajuste</span>
                        <span class="spec-value">Diseñado para ofrecer un ajuste cómodo y seguro durante largas jornadas de uso. Incluye forro térmico desmontable para adaptarse a diferentes condiciones climáticas y cierres de ventilación que favorecen una adecuada circulación del aire.</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
{% endblock %}