{% extends 'base.html' %}

{% block title%}Airsoft - Contactos{% endblock %}

{% block content %}
<div class="container my-5" style="max-width: 600px;">
    <h2 class="text-center mb-4">Contacto</h2>
    <div class="card p-4 shadow">
        <form action="/contacto" method="POST">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre Completo</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="mensaje" class="form-label">Tu Mensaje</label>
                <textarea class="form-control" id="mensaje" name="mensaje" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary w-100">Enviar Mensaje</button>
        </form>
    </div>
</div>
{% endblock %}