{% extends "base.html" %}

{% block title %}Airsoft - Dashboard{% endblock %} 

{% block style_extra %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/dashboard.css')}}">
{% endblock %}

{% block content %}
<section id="sectionDashboard">
    <div id="titleContent">
        DASHBOARD
    </div>
    <div id="parametros">
        <div>
            Total del dia
            <span class="ingresos">15 R.</span>
        </div>
        <div>
            Total del mes
            <span class="ingresos">50 R.</span>
        </div>
        <div>
            Total del año
            <span class="ingresos">250 R.</span>
        </div>
    </div>
    <div id="diagramaBarras">
        <div>
            <span class="ingresos">Análisis de Reservas</span>
        </div>
        <div id="barrasCalendario">
            <div id="barras">
                <div style="height: 1rem;"><span class="barra-dias">L</span></div>
                <div style="height: 2rem;"><span class="barra-dias">M</span></div>
                <div style="height: 1rem;"><span class="barra-dias">X</span></div>
                <div style="height: 4rem;"><span class="barra-dias">J</span></div>
                <div style="height: 5rem;"><span class="barra-dias">V</span></div>
                <div style="height: 6rem;"><span class="barra-dias">S</span></div>
                <div style="height: 7rem;"><span class="barra-dias">D</span></div>
            </div>
            <div class="container-dashboard">
                <div id="box-title">
                    <div>
                        Mayo 2026
                    </div>
                </div>
                <div class="box-dias">
                    <div>L</div>
                    <div>M</div>
                    <div>X</div>
                    <div>J</div>
                    <div>V</div>
                    <div>S</div>
                    <div>D</div>
                </div>
                <div class="container-time">
                    <div class="dia"></div>
                    <div class="dia"></div>
                    <div class="dia"></div>
                    <div class="dia"></div>
                    <div class="dia"></div> 
                    <div class="dia">1</div>
                    <div class="dia">2</div>
                    <div class="dia">3</div>
                    <div class="dia">4</div>
                    <div class="dia">5</div>
                    <div class="dia">6</div>
                    <div class="dia">7</div>
                    <div class="dia">8</div>
                    <div class="dia">9</div>
                    <div class="dia">10</div>
                    <div class="dia">11</div>
                    <div class="dia">12</div>
                    <div class="dia">13</div>
                    <div class="dia">14</div>
                    <div class="dia">15</div>
                    <div class="dia">16</div>
                    <div class="dia">17</div>
                    <div class="dia">18</div>
                    <div class="dia">19</div>
                    <div class="dia">20</div>
                    <div class="dia">21</div>
                    <div class="dia">22</div>
                    <div class="dia">23</div>
                    <div class="dia">24</div>
                    <div class="dia">25</div>
                    <div class="dia">26</div>
                    <div class="dia">27</div>
                    <div class="dia">28</div>
                    <div class="dia">29</div>
                    <div class="dia">30</div>
                    <div class="dia">31</div>
                </div>

            </div>
        </div>
    </div>

    <div id="container-hide">
        <div id="container-tables">
            <span id="box-title">
                Reservas
            </span>
            </h3>
            <div class="box-reservations">
                <div class="subtitulo-reservas">ID</div>
                <div class="subtitulo-reservas">NOMBRE</div>
                <div class="subtitulo-reservas">DNI</div>
                <div class="subtitulo-reservas">USUARIO</div>
                <div class="subtitulo-reservas">PRECIO</div>
                <div class="subtitulo-reservas">HORARIO</div>
            </div>
            <div class=" box-reservations">
                <div>1</div>
                <div class="name_user_r">Ronny Mamani T.</div>
                <div>1141232</div>
                <div>ronny123</div>
                <div>17457</div>
                <div>08:00 - 09:00</div>
            </div>
            <div class=" box-reservations">
                <div>2</div>
                <div class="name_user_r">Manolo R. Sanchez</div>
                <div>1141232</div>
                <div>Manolito-crack</div>
                <div>174571</div>
                <div>10:30 - 10:00</div>
            </div>
            <div class=" box-reservations">
                <div>3</div>
                <div class="name_user_r">-</div>
                <div>-</div>
                <div>-</div>
                <div>-</div>
                <div>-</div>
            </div>
            <div class=" box-reservations">
                <div>4</div>
                <div class="name_user_r">Lorem, ipsum dolor.</div>
                <div>1141232</div>
                <div>Nando wey</div>
                <div>17457 ars</div>
                <div>12:00 - 14:00</div>
            </div>

            <div class=" box-reservations">
                <div>5</div>
                <div class="name_user_r">-</div>
                <div>-</div>
                <div>-</div>
                <div>-</div>
                <div>-</div>
            </div>

        </div>
        <div id="container-pie">
            <div id="pie-chart">
                <div class="circule">
                    <h2>
                        Ocupado<br>
                        <span id="pieDate"><br>100%</span>
                    </h2>
                </div>
            </div>

    </div>
    </div>
</section>

{% block js_extra %}
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock%}
{% endblock %}