{% extends "defaultadmin.html" %}

{% block title %}Airsoft - Dashboard{% endblock %} 

{% block style_extra %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/dashboard.css')}}">
{% endblock %}

{% block content %}
<section id="sectionDashboard">
    <div id="titleContent">
        DASHBOARD
    </div>
    <div id="parametros">
        <div>
            Total del dia
            <span class="ingresos">{{cantidad.dia}} R.</span>
        </div>
        <div>
            Total del semana
            <span class="ingresos">{{cantidad.semana}} R.</span>
        </div>
        <div>
            Total del mes
            <span class="ingresos">{{cantidad.mes}} R.</span>
        </div>
        <div>
            Total del año
            <span class="ingresos">{{cantidad.año}} R.</span>
        </div>
    </div>
    <div id="diagramaBarras">
        <div>
            <span id="titleContent">Análisis de Reservas por Dia</span>
        </div>
        <div id="barrasCalendario">
            <div id="barras">
                <div style="height: {{ frec_reservas.cs }}rem;"><span class="barra-dias">5-6<br>({{ frec_reservas.cs }})</span></div>
                <div style="height: {{ frec_reservas.so }}rem;"><span class="barra-dias">7-8<br>({{ frec_reservas.so }})</span></div>
                <div style="height: {{ frec_reservas.nd }}rem;"><span class="barra-dias">9-1<br>({{ frec_reservas.nd }})</span></div>
                <div style="height: {{ frec_reservas.od }}rem;"><span class="barra-dias">11-12<br>({{ frec_reservas.od }})</span></div>
                <div style="height: {{ frec_reservas.tc }}rem;"><span class="barra-dias">13-14<br>({{ frec_reservas.tc }})</span></div>
                <div style="height: {{ frec_reservas.qs }}rem;"><span class="barra-dias">15-16<br>({{ frec_reservas.qs }})</span></div>
                <div style="height: {{ frec_reservas.do }}rem;"><span class="barra-dias">17-18<br>({{ frec_reservas.do }})</span></div>
                <div style="height: {{ frec_reservas.dv }}rem;"><span class="barra-dias">19-20<br>({{ frec_reservas.dv }})</span></div>
            </div>
            <div class="container-dashboard">
                <div id="box-title">
                    <div>
                        Mayo 2026
                    </div>
                </div>
                <div class="box-dias">
                    <div>L</div>
                    <div>M</div>
                    <div>X</div>
                    <div>J</div>
                    <div>V</div>
                    <div>S</div>
                    <div>D</div>
                </div>
                <div class="container-time">
                    {% for dia in mes_actual %}
                        {% if dia == dia_actual %}
                        <div class="dia-actual">{{dia}}</div>
                        {% else %}
                        <div class="dia-normal">{{dia}}</div>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

    <div id="container-hide">
        <div id="container-tables">
            <span id="box-title">
                Reservas
            </span>
            </h3>
            <div class="box-reservations">
                <div class="subtitulo-reservas">ID</div>
                <div class="subtitulo-reservas">NOMBRE</div>
                <div class="subtitulo-reservas">DNI</div>
                <div class="subtitulo-reservas">USUARIO</div>
                <div class="subtitulo-reservas">PRECIO</div>
                <div class="subtitulo-reservas">HORARIO</div>
            </div>
            {% for reserva in data_ocu %}
            <div class=" box-reservations">
                <div>{{ reserva.id_reserva}}</div>
                <div class="name_user_r">{{ reserva.user_name}}</div>
                <div>{{ reserva.dni_usuario}}</div>
                <div>{{ reserva.user_name}}</div>
                <div>{{ reserva.price}}</div>
                <div>{{ reserva.start_time}}- {{ reserva.end_time}}</div>
            </div>
            {% endfor %}
            {% for reserva in data_dis %}
            <div class=" box-reservations">
                <div>{{ reserva.id_reserva}}</div>
                <div class="name_user_r">{{ reserva.user_name}}</div>
                <div>{{ reserva.dni_usuario}}</div>
                <div>{{ reserva.user_name}}</div>
                <div>{{ reserva.price}}</div>
                <div>{{ reserva.start_time}}- {{ reserva.end_time}}</div>
            </div>
            {% endfor %}
        </div>
        <div id="container-pie">
            <div id="pie-chart">
                <div class="circule">
                    <h2>
                        Ocupado<br>
                        <span id="pieDate"><br>100%</span>
                    </h2>
                </div>
            </div>

    </div>
    </div>
</section>

{% block js_extra %}
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock%}
{% endblock %}