<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>lobby publicas</title>
</head>
<body>
    <nav class="navbar">
        <div class="nav-izq">
            <span>NOMBRE DEL SITIO</span>
        </div>

        <div class="nav-centro">
            <a href="{{ url_for('index') }}" class="nav-button">inicio</a>
            <a href="#">servicios</a>
            <a href="{{ url_for('campos') }}" class="nav-button">campos de juego</a>
            <a href="#">alquiler de equipamiento</a>
            <a href="#">contacto</a>
        </div>

        <div class="nav-der">
       <a href="{{ url_for('login') }}" class="nav-button">inicia sesion</a>
        <a href="{{ url_for('register') }}" class="nav-button">registrate</a>
        </div>
    </nav>

    <hr class="linea-separadora">
    
    <h1>LOBBY SALAS PUBLICAS</h1>
    
    <table>
      <thead>
        <tr>
          <th>ID Reserva</th>
          <th>Fecha</th>
          <th>Modalidad</th>
          <th>Campo</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>#021</td>
          <td>25/05/2026</td>
          <td>Captura bandera</td>
          <td>Mirage</td>
          <td class="text-orange">Lleno</td>
        </tr>
        
        <tr>
          <td>#012</td>
          <td>28/05/2026</td>
          <td>Captura bandera</td>
          <td>Mirage</td>
          <td class="text-orange">Lleno</td>
        </tr>
        
        <tr>
          <td>#006</td>
          <td>20/05/2026</td>
          <td>Captura bandera</td>
          <td>Nuketown</td>
          <td><a href="{{ url_for('sala_publica') }}" class="nav-button">Unirse 9/10</a></td>
        </tr>
      </tbody>
    </table>
</body>
</html>