{% extends "base.html"%}

{% block title%}Airsoft - Register{% endblock %}

{% block style_extra %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css')}}">
{% endblock %}

{% block content %}
    <section id="sectionRegister">
        <video autoplay muted loop class="video-backg">
            <source src="{{url_for('static', filename='video/video-login.mp4')}}" type="video/mp4">
        </video>
        <div class="box-form">
            <h2>Registrate</h2>
            <form class="style-form" action="/url-direccion-de-envio" method="post">

                <label for="name">Nombre Completo</label><br>
                <input type="text" required name="" id=""><br>

                <label for="dni">DNI</label><br>
                <input type="number" required name="" id=""><br>

                <label for="username">Nombre de Usuario</label><br>
                <input type="text" required name="" id=""><br>

                <label for="email">Email</label><br>
                <input type="email" required name="" id=""><br>

                <label for="gender">Género</label><br>
                <input type="tel" required name="" id=""><br>

                <label for="phone">Número de Celular</label><br>
                <input type="number" required name="" id=""><br>

                <label for="password">Contraseña</label><br>
                <input type="password" required name="" id=""><br>

                <div class="box-center">
                    <button class="btn-form" type="submit" >CREAR USUARIO</button>
                    <button class="btn-form-back" type="button"><a href="{{url_for('login')}}">Volver</a></button>
                </div>
            </form>     
        </div>
    </section>
{% endblock %}