{% extends "base.html"%}

{% block title%}Airsoft - Register{% endblock %}

{% block style_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% endblock %}

{% block content %}
    <section id="sectionRegister">
        <video autoplay muted loop class="video-backg">
            <source src="{{url_for('static', filename='video/video-login.mp4')}}" type="video/mp4">
        </video>
        <div class="box-form">
            <div id="boxIcono">
                <i class="fa fa-pencil"></i>
            </div>
            <h2>REGÍSTRATE</h2>
            <form class="style-form" action="/url-direccion-de-envio" method="post">
                
                <i class="fa fa-user"></i>
                <input type="text" required placeholder="Nombre Completo" name="" id=""><br>

                <i class="fa fa-id-card"></i>
                <input type="number" required placeholder="Número DNI" name="" id=""><br>

                <i class="fa fa-pencil"></i>
                <input type="text" required placeholder="Nombre de usuario" name="" id=""><br>

                <i class="fa fa-envelope"></i>
                <input type="email" required placeholder="Email" name="" id=""><br>

                <i class="fa fa-question-circle"></i>
                <input type="tel" required placeholder="Género" name="" id=""><br>

                <i class="fa fa-phone"></i>
                <input type="number" required placeholder="Número de celular" name="" id=""><br>

                <i class="fa fa-lock"></i>
                <input type="password" required placeholder="Contraseña" name="" id=""><br>

                <div class="box-center">
                    <button class="btn-form" type="submit" >REGISTRARSE</button>
                </div>
            </form>     
        </div>
    </section>
{% endblock %}