<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>Sala Pública</title>
</head>
<body>

    <form action="#" method="POST" class="booking-card">
  
        <div class="form-group"> 
            <label class="group-title">Seleccionaste Partida Pública</label>
            <div class="toggle-container"></div>
        </div>

        <div class="form-group">
            <label class="group-title">Modalidad:</label>
            <div class="nav-izq">
                <span>Captura la bandera</span>
            </div>
            <input type="hidden" name="modalidad" value="Captura la bandera">
        </div>

        <div class="form-group">
            <label class="group-title">Campo de juego:</label>
            <div class="nav-izq">
                <span>Campo Nuketown</span>
            </div>
            <input type="hidden" name="campo" value="campo1">
        </div>

        <div class="form-group">
            <label class="group-title">Pack de equipamiento:</label>
            <div class="nav-izq">
                <span>Básico</span>
            </div>
            <input type="hidden" name="pack" value="basico">
        </div>

        <div class="total-section">
            <span>Total:</span>
            <span class="price">$12000.00</span>
        </div>
    </form>
    <div class="reservar">
      <a href="#">RESERVAR</a>
    </div>
</body>
</html>