{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center mb-4">Nuestros Servicios</h2>
    <div class="row">
        {% for servicio in servicios %}
        <div class="col-md-6 mb-3">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h5 class="card-title text-primary">{{ servicio.nombre }}</h5>
                    <p class="card-text">{{ servicio.descripcion }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}