/* ==========================================================================
   MENSAJES FLASH
   ========================================================================== */
.flash-overlay {
  position: fixed;       
  top: 0rem;             
  z-index: 1050;         
  width: 100%;
}
.flash-custom {
  background: linear-gradient(135deg, #00f2fe 0%, #4facfe 100%);
  display: flex;
  border: 1px solid #007bff;
  border-radius: 1rem;
  padding: 1rem;
  font-weight: bold;
  color: black;
  width: auto;
  justify-content: center;
  margin: 5rem 3rem;
}

/* ==========================================================================
   FOOTER
   ========================================================================== */
.footer {
  background-color: #212529;
  color: white;
  width: 100%;
  padding: 3rem;
  box-sizing: border-box;
}
