#sectionDashboard{
    background-color: #0b0d0f;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
    background-size: 20px 20px;
    display: block;
    padding: 80px 0;
    margin-top: 0rem;
    padding-top: 4rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    font-family: 'Orbitron', sans-serif;
}

#titleContent{
    background: linear-gradient(135deg, #00f2fe 0%, #4facfe 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    font-weight: bold;
}

#parametros{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#parametros div{
    background: linear-gradient(135deg, #00f2fe 0%, #4facfe 100%);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 3rem 2rem;
    margin: 2px;
    width: auto;
    height: 5rem;
    border: 1px solid rgba(79, 172, 254, 0.2);
    border-radius: 0.5rem;
}
    .ingresos{
        font-size: 2rem;
        font-weight: bold;

    }
#barrasCalendario{
    display: flex;
    flex-direction: row;
    height: 18rem;

}
#diagramaBarras{
    display: block;
    padding: 1rem;
}
#barras{  
    display: flex;
    align-items: flex-end; 
    justify-content: center;
    padding: 25px;
    gap: 10px;
    height: auto; 
    width: 50%;
    border: 2px solid rgba(79, 172, 254, 0.2);
    border-radius: 1rem;
}
#barras div{
    background: linear-gradient(135deg, #00f1fe94 0%, #4facfeac 100%);
    width: 5rem;
    height: auto;
    text-align: center;
    color: white;
    font-size: 12px;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}
.barra-dias{
    display: flex;
    transform: translateX(0%) translateY(-100%);
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

#barras div:hover{
    background: linear-gradient(135deg, #00f2fe 0%, #4facfe 100%);
    font-weight: bold;
}

.container-dashboard{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    height: auto;
    padding: 1rem;
    width: 50%;
    border-radius: 8px;
    border: 2px solid rgba(79, 172, 254, 0.2);
}
#box-title{
    background: linear-gradient(135deg, #00f2fe 0%, #4facfe 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 5px;
    padding: 2px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 8px;
}

.box-dias{
    background: linear-gradient(135deg, #00f2fe 0%, #4facfe 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0px;
}
.container-time{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0rem 0rem 1rem 0rem;
    border-radius: 0px 0px 8px 8px; 
    color: #00f1fed5;

}
.dia-actual{
    background: linear-gradient(135deg, #ffca28 0%, #ff9800 100%);
    font-weight: bold;
    color: black;
}
.dia-normal{
    font-size: x-large;
}
.container-time div {
    padding: 0%;
    font-size: 1.2rem;
    border-radius: 5px;
}
.container-time div:hover{
    background: linear-gradient(135deg, #00f2fe 0%, #4facfe 100%);
    cursor: pointer;
    color: black;
    font-weight: bold;
}

#container-hide{
    display: flex; /*despliege de tabla de informacion js*/
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(79, 172, 254, 0.2);
}

#container-tables{
    background-color: rgba(18, 22, 26, 0.6);
    display: flex;
    margin: 30px;
    padding: 10px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid #374151; 
}
    .box-reservations{
        display: grid;
        grid-template-columns: 10% 18% 18% 20% 17% 16%;
    }
    .box-reservations div{
        background-color: #212529; 
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: 1px solid rgba(79, 172, 254, 0.2);
        padding: 10px;
        color: #ffffff;            
    }
    .subtitulo-reservas{
        background: linear-gradient(135deg, #00f2fe 0%, #4facfe 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }

#container-pie{
    display: flex;
    flex-direction: column;
    background-color: rgba(213, 223, 220, 0);
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}
    #pie-chart {
        display: flex;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        box-shadow: 5px 2px 15px rgb(255, 255, 255);
        background: conic-gradient(
            #9dbd9e 0% 40%,
            #00f2fe 40% 100%  
        );
    }
    #pie-chart div {
        background-color: #0b0d0f;
        background-image:
            linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
            linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
        background-size: 20px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-shadow: 5px 2px 15px rgb(255, 255, 255);
        border-radius: 50%;
        width: 70%;
        height: 70%;
    }
    .circule h2{
        margin: 0;
        color: #00f2fe;
    }   

    #pieDate{
        font-size: 5pc;
        color: #00f2fe;
    }

/* Pantallas chicas (móvil) */
@media (max-width :1200px) {
    #parametros div{
        padding: 0px;
        width: 8rem;
    }
    #sectionDashboard{
        padding-top: 25%;
        margin-top: 0rem;
    }
    .container-dashboard{
        width:80%
    }
    .container-time div {
        font-size: medium;
        margin: 10% 19% 0% 22%;
    }
    #container-hide{
        flex-direction: column;
        width:100%
    }
    #container-tables{
        width:90%
    }
    .box-reservations div{
        font-size: x-small;
    }
    #pie-chart{
        width: 250px;
        height: 250px;
    }
}




