#sectionDashboard{
    margin-top: 0rem;
    padding-top: 4rem;
    background-color: rgba(122, 122, 122, 0.972);
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    font-family: 'Courier New', Courier, monospace;
}

#titleContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: orange;
    font-size: 38px;
    font-weight: bold;
}

#parametros{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#parametros div{
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 3rem 2rem;
    margin: 2px;
    width: auto;
    height: 5rem;
    border-radius: 0.5rem;
}
    .ingresos{
        font-size: 2rem;
        font-weight: bold;
    }
#barrasCalendario{
    display: flex;
    flex-direction: row;
    height: 18rem;

}
#diagramaBarras{
    display: block;
    padding: 1rem;
}
#barras{
    display: flex;
    align-items: flex-end; 
    padding: 25px;
    gap: 10px;
    height: auto; 
    width: 50%;
    border-left: 2px solid #333;
    border-bottom: 2px solid #333;
    border-radius: 1rem;
}
#barras div{
    background-color: rgba(255, 166, 0, 0.505);
    width: 5rem;
    height: auto;
    text-align: center;
    color: white;
    font-size: 12px;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}
.barra-dias{
    display: flex;
    transform: translateX(0%) translateY(-100%);
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

#barras div:hover{
    background-color: orange;
    font-weight: bold;
}

.container-dashboard{
    display: flex;
    height: auto;
    padding: 1rem;
    width: 50%;
    flex-direction: column;
}
#box-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 5px;
    padding: 2px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 8px;
}

.box-dias{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0px;
    border-radius: 8px 8px 0px 0px;
    border-right: 2px solid #333;

}
.container-time{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0rem 0rem 1rem 0rem;
    border-radius: 0px 0px 8px 8px; 
    border-bottom: 2px solid #333;
    border-right: 2px solid #333;
}
.box-dias div{
    font-size: x-large;
    font-weight: bold;
}
.container-time div {
    padding: 0%;
    font-size: 1.2rem;
    border-radius: 5px;
}
.container-time div:hover{
    background-color: orange;
    cursor: pointer;
}

#container-hide{
    display: flex; /*despliege de tabla de informacion js*/
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#container-tables{
    background-color: orange;
    display: flex;
    margin: 30px;
    padding: 10px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    border-radius: 8px;
    border: 2px solid black;
}
    .box-reservations{
        display: grid;
        grid-template-columns: 10% 18% 18% 20% 17% 16%;
    }
    .box-reservations div{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: #ffffffc2;
        border: 1px solid orange;
        padding: 10px;
    }
    .subtitulo-reservas{
        font-weight: bold;
        color: orange;
    }

#container-pie{
    display: flex;
    flex-direction: column;
    background-color: rgba(213, 223, 220, 0);
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}
    #pie-chart {
        display: flex;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        box-shadow: 5px 2px 15px rgb(255, 255, 255);
        background: conic-gradient(
            #9dbd9e 0% 40%,
            #f4b136 40% 100%  
        );
    }
    #pie-chart div {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-shadow: 5px 2px 15px orange;
        background-color: rgb(136, 136, 136);
        border-radius: 50%;
        width: 70%;
        height: 70%;
    }
    .circule h2{
        margin: 0;
        color: orange;
    }   

    #pieDate{
        font-size: 5pc;
        color: orange;
    }

/* Pantallas chicas (móvil) */
@media (max-width: 600px) {

    #sectionDashboard{
        padding-top: 20%;
        margin-top: 0rem;
    }
    .container-dashboard{
        width:80%
    }
    .container-time div {
        font-size: medium;
        margin: 10% 19% 0% 22%;
    }
    #container-hide{
        flex-direction: column;
        width:100%
    }
    #container-tables{
        width:90%
    }
    .box-reservations div{
        font-size: x-small;
    }
    #pie-chart{
        width: 250px;
        height: 250px;
    }
}




