#sectionLogin, #sectionRegister, #sectionPassword{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 245, 232, 0);
}

.video-backg{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
}
#boxIcono{
    background-color: rgb(188, 188, 188);
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
    transform: translateY(3%) translateX(0%);
}
#boxIcono i{
    position: absolute;
    font-size: 7rem;
    transform: translateY(9%) translateX(24%);
}

.box-form{
    display: flex;
    padding-top: 10px;
    padding-bottom: 20px;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: auto;
    background-color: rgb(212, 103, 1);
    border-radius: 2rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.box-form a{
    text-decoration: none;  
    color: rgba(255, 255, 255, 0.5);
}
.box-form a:hover{
    color: white;
}
.box-form p{
    width: 350px;
    margin: 15px;
}
.box-form h2{
    font-size: 2.2rem;
    padding: 10px;
    font-weight: bold;
}
    .style-form input{
        margin-top: 8px;
        margin-left: 5px;
        width: 320px;
        margin-bottom: 8px;
        background-color: rgba(249, 233, 214, 0.569);
        border-block-color: white;
        border-radius: 4px;
        font-size: medium;
    }
    .style-form input:focus {
        outline: 3.5px solid rgb(212, 103, 1);
}


    .box-check{
        font-size: medium;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
    }
    .box-check input{
        border-radius: 5px;
        margin-right: 2px;
        width: 20px;
        height: 20px;
        transform: translateY(3%) translateX(-34%);
    }
   
    .box-center{
        margin-top: 15px;
        text-align: center;
        align-items: center;
    }

    .btn-form{
        border-radius: 8px;
        padding: 10px;
        margin: 15px;
        border: solid 1px rgb(255, 255, 255);
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        cursor: pointer;
    }

    .btn-form:hover{
        background-color: rgb(212, 103, 1);
        border-color: rgb(152, 131, 108);
        transform: scale(1.03);
    }

    .btn-form a{
        text-decoration: none;  
        color: rgb(0, 0, 0);
    }
 
.box-register{
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(212, 103, 1);
    border-radius: 15px;
    margin-top: 30px;
    padding: 10px 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}
.box-form:hover, .box-register:hover{
    box-shadow: 2px 0px 14px rgb(255, 255, 255);
    transform: scale(1.03);
    background-color: #d7a10b;
    color: #000000;
}
.box-register a{
    text-decoration: none;  
    color: rgba(255, 255, 255, 0.5);
}
.box-register a:hover{
    color: white;
}
.box-register p{
    margin: 0;
}


