{% extends "base.html" %}

{% block title %}Kenetix - Gestión de Edición Usuarios{% endblock %}

{% block style_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
{% endblock %}

{% block content %}
<section id="sectionGestionUsuarios">
    <span id="mensajePrincipal">GESTIÓN DE EDICIÓN DE USUARIOS</span>
    <div class="container-gestionUsuarios">
        <div class="admin-usuarios-grid">
                <div class="admin-usuario-card">
                    <i class="fa fa-address-card admin-usuario-admin-icon"></i>
                    <div class="admin-usuario">
                        <form class="admin-usuario-name" action="{{url_for('admin_usuarios_editar', id_usuario_edit=datos.id)}}" method="POST">
                            <div class="usuarios-no-editar-div">
                                <label for="id">NÚMERO DE IDENTIFICACIÓN:</label>
                                <input id="id" value="{{datos.id}}" readonly ><br>
                            </div> 

                            <div class="usuarios-no-editar-div">
                                <label for="name">NOMBRE:</label>
                                <input type="text" name="name" value="{{datos.name}}" readonly> <br>
                            </div>

                            <div class="usuarios-editar-div">
                                <label for="username"> NOMBRE DE USUARIO:</label>
                                <input id="username" type="text" name="username" value="{{datos.username}}" required> <br>
                            </div>
                                
                            <div class="usuarios-no-editar-div">
                                <label for="dni">DNI:</label>
                                <input id="dni" type="text" value="{{datos.dni}}" readonly> <br>
                            </div>
                            
                            <div class="usuarios-editar-div">
                                <label for="email">CORREO:</label>
                                <input id="email" name="email" type="email" value="{{datos.email}}" required> <br>
                            </div>
                                
                            <div class="usuarios-editar-div">
                                <label for="phone">TELÉFONO:</label>
                                <input id="phone" name="phone" type="text" value="{{datos.phone}}" required> <br>
                            </div>

                            <div class="usuarios-no-editar-div">
                                <label for="about_me">ACERCA DEL USUARIO:</label>
                                <input id="about_me" type="text" value="{{datos.about_me}}" readonly><br>
                            </div>

                            <div class="usuarios-no-editar-div">
                                <label for="created_at"> FECHA DE CREACIÓN DE LA CUENTA:</label>
                                <input id="created_at" value="{{datos.created_at}}" readonly> <br>
                            </div>

                            <div class="usuarios-editar-div">
                                <label for="elo">ELO:</label>
                                <input type="number" id="elo" name="elo" value="{{datos.elo}}" required> <br>
                            </div>

                            <div class="usuarios-no-editar-div">
                                <label for="usuario_admin">ADMINISTRADOR:</label>
                                <input id="usuario_admin" id="usuario_admin" value="{% if datos.is_admin == 1 %}Si{% else %}No{% endif %}" name="is_admin" readonly ></input>
                            </div>

                            <div class="usuarios-no-editar-div">
                                <label for="gender">GÉNERO:</label>
                                <input id="gender" value="{{datos.gender}}" readonly>
                            </div>

                            <div class="usuarios-no-editar-div">
                                <label for="updated_at">ÚLTIMA ACTUALIZACIÓN:</label>
                                <input id="updated_at" value="{{datos.updated_at}}" readonly><br>
                            </div>
                            <div class="usuarios-editar-div">
                                <label for="password">NUEVA CONTRASEÑA:</label>
                                <input id="password" name="password" placeholder="Ingresá la nueva contraseña" required ><br>
                            </div>
                            <div class="usuarios-editar-div">
                                <label for="is_active">ESTADO DE CUENTA:</label>
                                <select name="is_active" id="is_active">
                                    <option value="1" {% if datos.is_active == 1 %} selected {% endif %} >Activo</option>
                                    <option value="0" {% if datos.is_active == 0 %} selected {% endif %} >No activo</option>
                                </select>
                            </div>    

                            <button class="admin-usuario-edit" type="submit">
                                Guardar
                            </button>
                            <a href="{{ url_for('admin_usuarios')}}" class="usuarios-desactivar">Cancelar</a>
                        </form>    
                    </div>
                </div>
        </div>
    </div>
</section>
{% endblock %}
