{% extends "base.html" %}

{% block title %}Kenetix - Gestión de Usuarios{% endblock %}

{% block style_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
{% endblock %}

{% block content %}
<section id="sectionGestionUsuarios">
    <span id="mensajePrincipal">GESTIÓN DE USUARIOS</span>
    <div class="container-gestionUsuarios">
        <div class="admin-usuarios-grid">
            {% for usuario in usuarios %}
                {% if usuario.is_admin == 1 %}
                <div class="admin-usuario-card">
                    <i class="fa fa-user admin-usuario-admin-icon"></i>
                    <div class="admin-usuario">
                        <ul class="admin-usuario-name">
                            <li>NUMERO DE INDENTIFICACIÓN: <span class="admin-usuario-info">{{usuario.id}}</span></li>
                            <li>NOMBRE: <span class="admin-usuario-info">{{usuario.name}}</span></li>
                            <li>NOMBRE DE USUARIO:  <span class="admin-usuario-info">{{usuario.username}}</span></li>
                            <li>DNI <span class="admin-usuario-info">4577577</span>    </li>
                            <li>CORREO <span class="admin-usuario-info">ejemplo@example.com</span></li>
                            <li>TELÉFONO <span class="admin-usuario-info">12345678</span></li>
                            <li>ACERCA DEL USUARIO: <span class="admin-usuario-info">descripcion que puso el usuario</span></li>
                            <li>FECHA DE CREACION DE CUENTA: <span class="admin-usuario-info">2025-07-12</span></li>
                            <li>ELO: <span class="admin-usuario-info">154</span></li>
                            <li>ADMINISTRADOR:<span class="admin-usuario-info">Si</span></li>
                            <li>GENERO:<span class="admin-usuario-info">MASCULINO</span></li>
                            <li>ULTIMA ACTUALIZACIÓN: <span class="admin-usuario-info">2026-06-04</span></li>
                            <li>ESTADO DE CUENTA: <span class="admin-usuario-info"> Activo</span></li>
                        </ul>    
                        <a href="" class="admin-usuario-edit">Editar</a>
                        <a href="" class="usuarios-desactivar">Desativar cuenta</a>
                    </div>
                </div>
                {% endif %}
                {% if usuario.is_admin == 0 %}
                <div class="admin-usuario-card">
                    <i class="fa fa-user admin-usuario-hombre-icon"></i>
                    <div class="hombre-usuario">
                        <ul class="hombre-usuario-name">
                            <li>NUMERO DE INDENTIFICACIÓN: <span class="admin-usuario-info">{{usuario.id}}</span></li>
                            <li>NOMBRE: <span class="admin-usuario-info">{{usuario.name}}</span></li>
                            <li>NOMBRE DE USUARIO:  <span class="admin-usuario-info">{{usuario.username}}</span></li>
                            <li>DNI: <span class="admin-usuario-info">4577577</span>    </li>
                            <li>CORREO: <span class="admin-usuario-info">ejemplo@example.com</span></li>
                            <li>TELÉFONO: <span class="admin-usuario-info">12345678</span></li>
                            <li>ACERCA DEL USUARIO: <span class="admin-usuario-info">descripcion que puso el usuario</span></li>
                            <li>FECHA DE CREACION DE CUENTA: <span class="admin-usuario-info">2025-07-12</span></li>
                            <li>ELO: <span class="admin-usuario-info">154</span></li>
                            <li>ADMINISTRADOR:<span class="admin-usuario-info">NO</span></li>
                            <li>GENERO:<span class="admin-usuario-info">MASCULINO</span></li>
                            <li>ULTIMA ACTUALIZACIÓN: <span class="admin-usuario-info">2026-06-04</span></li>
                            <li>ESTADO DE CUENTA: <span class="admin-usuario-info"> Activo</span></li>
                        </ul>
                        <a href="" class="hombre-usuario-edit">Editar</a>
                        <a href="" class="usuarios-desactivar">Desativar cuenta</a>
                        
                    </div>
                </div>
                {% endif %}
                {% if usuario.isdmin == 0 and usuario.gender == "FEMENINO" %}
                <div class="admin-usuario-card">
                    <i class="fa fa-user admin-usuario-mujer-icon"></i>
                    <div class="mujer-usuario">
                        <ul class="mujer-usuario-name">
                            <li>NÚMERO DE INDENTIFICACIÓN: <span class="admin-usuario-info">{{usuario.id}}</span></li>
                            <li>NOMBRE: <span class="admin-usuario-info">{{usuario.name}}</span></li>
                            <li>NOMBRE DE USUARIO:  <span class="admin-usuario-info">LULIAS</span></li>
                            <li>DNI <span class="admin-usuario-info">4577577</span>    </li>
                            <li>CORREO: <span class="admin-usuario-info">ejemplo@example.com</span></li>
                            <li>TELÉFONO: <span class="admin-usuario-info">12345678</span></li>
                            <li>ACERCA DEL USUARIO: <span class="admin-usuario-info">descripcion que puso el usuario</span></li>
                            <li>FECHA DE CREACIÓN DE CUENTA: <span class="admin-usuario-info">2025-07-12</span></li>
                            <li>ELO: <span class="admin-usuario-info">154</span></li>
                            <li>ADMINISTRADOR:<span class="admin-usuario-info">NO</span></li>
                            <li>GÉNERO:<span class="admin-usuario-info">FEMENINO</span></li>
                            <li>ULTIMA ACTUALIZACIÓN: <span class="admin-usuario-info">2026-06-04</span></li>
                            <li>ESTADO DE CUENTA: <span class="admin-usuario-info"> Activo</span></li>
                        </ul>                    
                        <a href="" class="mujer-usuario-edit">Editar</a>
                        <a href="" class="usuarios-desactivar">Desativar cuenta</a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    
</section>
{% endblock %}
