{% extends 'base.html' %}
{% block title %}Kinetix - Crear Sala Pública{% endblock %}
{% block style_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/modalidades.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/reservas.css') }}">
{% endblock %}
{% block content %}
<section class="modalidades-section form-section">
    <div class="modalidades-header form-header">
        <h1 class="modalidades-title yellow-title">Crear Sala Pública</h1>
        <p class="modalidades-subtitle">Completá los datos para lanzar una nueva sala al público</p>
    </div>
    <div class="form-container yellow">
        <form method="POST">
            <label for="modalidad">Modalidad</label>
            <select id="modalidad" name="modalidad" required>
                <option value="">Seleccionar...</option>
                {% for g in modalidades %}
                <option value="{{ g.id }}">{{ g.name }}</option>
                {% endfor %}
            </select>

            <label for="map_id">Mapa</label>
            <select id="map_id" name="map_id" required>
                <option value="">Seleccionar...</option>
                {% for m in mapas %}
                <option value="{{ m.id }}">{{ m.name }}</option>
                {% endfor %}
            </select>

            <label for="equipment_kit_id">Equipamiento</label>
            <select id="equipment_kit_id" name="equipment_kit_id" required>
                <option value="">Seleccionar...</option>
                {% for k in equipmentkits %}
                <option value="{{ k.id }}">{{ k.name }}</option>
                {% endfor %}
            </select>

            <label for="price">Precio</label>
            <input type="number" id="price" name="price" placeholder="Ej: 30000" required>

            <label for="reservation_date">Fecha</label>
            <input type="date" id="reservation_date" name="reservation_date" required>

            <label for="start_time">Hora inicio</label>
            <input type="time" id="start_time" name="start_time" required>

            <label for="end_time">Hora fin</label>
            <input type="time" id="end_time" name="end_time" required>

            <button type="submit">Lanzar Sala</button>
        </form>
    </div>
</section>
{% endblock %}
