{% extends "base.html" %}

{% block title %}Airsoft - Inicio{% endblock %}

{% block style_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
{% endblock %}

{% block content %}
<div class="page__grid">

    <div class="hero">
        <a href="{{ url_for('reservas') }}" class="hero__button">
            RESERVAR
        </a>
    </div>

    <div class="services">
        <div class="services__grid">

            <div class="services__card">
                <a href="{{ url_for('login_sesion') }}" class="services__link">
                    <h5>Partida pública</h5>
                    <p>Emparejamiento aleatorio.</p>
                </a>
            </div>

            <div class="services__card">
                <a href="{{ url_for('login_sesion') }}" class="services__link">
                    <h5>Partida privada</h5>
                    <p>Reserva para tus amigos.</p>
                </a>
            </div>

            <div class="services__card">
                <a href="{{ url_for('competitivo') }}" class="services__link">
                    <h5>Competitivo</h5>
                    <p>Torneos por dinero y ranking.</p>
                </a>
            </div>

        </div>
    </div>

    <div class="fields__title">
        <h2>Campos de juego</h2>
    </div>

    <div class="fields__gallery">
        <div class="fields__grid">
            <a href="{{ url_for('campos') }}">
                <img src="../static/img/nuketown.jpg" alt="Nuketown">
            </a>
            <a href="{{ url_for('campos') }}">
                <img src="../static/img/mirage.jpg" alt="Mirage">
            </a>
            <a href="{{ url_for('campos') }}">
                <img src="../static/img/hijacked.jpg" alt="Hijacked">
            </a>
            <a href="{{ url_for('campos') }}">
                <img src="../static/img/terminal.jpg" alt="Terminal">
            </a>
        </div>
    </div>

</div>
{% endblock %}
