{% extends "base.html"%}

{% block title%}Airsoft - Login{% endblock %}

{% block style_extra %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/login.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% endblock %}

{% block content %}
    <Section id="sectionLogin">
        <video autoplay muted loop class="video-backg">
            <source src="{{url_for('static', filename='video/video-login.mp4')}}" type="video/mp4">
        </video>
        <div class="box-form">
            <div id="boxIcono">
                <i class="fa fa-user"></i>
            </div>
            <h2>LOGIN</h2>
            <form class="style-form" action="{{ url_for('login_sesion') }}" method="POST">
                <i class="fa fa-envelope"></i>
                <input type="email" name="email" placeholder="Ingresá tu email" required><br>

                <i class="fa fa-lock"></i>
                <input type="password" name="password" placeholder="Ingresá tu contraseña" required><br>

                <div class="box-check">
                    <input type="checkbox" name="recuerdame" value="true" id="recuerdame">
                    <label for="recuerdame">Recuerdame</label><br>
                </div>

                <div class="box-center">
                    <button class="btn-form" type="submit" >INICIAR SESION</button>
                </div>
                
            </form>
            <a href="{{ url_for('login_contrasenia')}}">¿Olvidaste tu contraseña?</a>
        </div>
        <div class="box-register">
            <p>¿No tienes una cuenta?</p>
            <a href="{{url_for('login_registro')}}">Registrate</a>
        </div>
    </Section>
{% endblock %}